<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <context-param>
    <param-name>clas</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:test</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testGet</display-name>
    <servlet-name>testGet</servlet-name>
    <servlet-class>servlets.testGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testGet</servlet-name>
    <url-pattern>/testGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testGet_servlet</display-name>
    <servlet-name>testGet_servlet</servlet-name>
    <servlet-class>servlets.testGet_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testGet_servlet</servlet-name>
    <url-pattern>/testGet_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>color</display-name>
    <servlet-name>color</servlet-name>
    <servlet-class>servlets.color</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>color</servlet-name>
    <url-pattern>/color</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookie</display-name>
    <servlet-name>cookie</servlet-name>
    <servlet-class>servlets.cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>session</display-name>
    <servlet-name>session</servlet-name>
    <servlet-class>servlets.session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getSession</display-name>
    <servlet-name>getSession</servlet-name>
    <servlet-class>servlets.getSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSession</servlet-name>
    <url-pattern>/getSession</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>countFilter</display-name>
    <filter-name>countFilter</filter-name>
    <filter-class>servlets.countFilter</filter-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>countFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>visitedTimesFilter</display-name>
    <filter-name>visitedTimesFilter</filter-name>
    <filter-class>servlets.visitedTimesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>visitedTimesFilter</filter-name>
    <url-pattern>/visitedTimes.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>servlets.AllListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ShowTableServlet</display-name>
    <servlet-name>ShowTableServlet</servlet-name>
    <servlet-class>servlets.ShowTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTableServlet</servlet-name>
    <url-pattern>/ShowTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>servlets.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>servlets.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>servlets.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>servlets.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletesServlet</display-name>
    <servlet-name>DeletesServlet</servlet-name>
    <servlet-class>servlets.DeletesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletesServlet</servlet-name>
    <url-pattern>/DeletesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>servlets.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOneDataServlet</display-name>
    <servlet-name>InsertOneDataServlet</servlet-name>
    <servlet-class>servlets.InsertOneDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOneDataServlet</servlet-name>
    <url-pattern>/InsertOneDataServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharFilter</display-name>
    <filter-name>CharFilter</filter-name>
    <filter-class>servlets.CharFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisServlet</display-name>
    <servlet-name>RegisServlet</servlet-name>
    <servlet-class>servlets.RegisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisServlet</servlet-name>
    <url-pattern>/RegisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ShowTableFilter</display-name>
    <filter-name>ShowTableFilter</filter-name>
    <filter-class>servlets.ShowTableFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShowTableFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>servlets.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryPageServlet</display-name>
    <servlet-name>queryPageServlet</servlet-name>
    <servlet-class>servlets.queryPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryPageServlet</servlet-name>
    <url-pattern>/queryPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testUsernameServlet</display-name>
    <servlet-name>testUsernameServlet</servlet-name>
    <servlet-class>servlets.testUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testUsernameServlet</servlet-name>
    <url-pattern>/testUsernameServlet</url-pattern>
  </servlet-mapping>
</web-app>