<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testGet</display-name>
    <servlet-name>testGet</servlet-name>
    <servlet-class>com.test.testGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testGet</servlet-name>
    <url-pattern>/testGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testGet_servlet</display-name>
    <servlet-name>testGet_servlet</servlet-name>
    <servlet-class>com.test.testGet_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testGet_servlet</servlet-name>
    <url-pattern>/testGet_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>color</display-name>
    <servlet-name>color</servlet-name>
    <servlet-class>com.test.color</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>color</servlet-name>
    <url-pattern>/color</url-pattern>
  </servlet-mapping>
</web-app>